@import '../index.css';

header {
	padding: 3rem 15vw;
	height: 10vh;
	display: flex;
	align-items: center;

	justify-content: space-between;
}

.image {
	width: 3em;
	height: 3rem;
	border-radius: 50%;
	margin-top: 10px;
}

.user_name {
	padding-left: 10px;
}
