@import '../index.css';

.button {
	margin-top: 5rem;
}
.repos {
	margin: 10rem 5vw;
	align-items: center;
	justify-content: center;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
	grid-auto-rows: auto;
	grid-gap: -2rem;
}
.grid-item {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 2rem auto;
}
